/* ------------------------------reset---------------------------- */
body,
ul,
form,
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  background: #f6f6f6;
}
a {
  color: #000;
  text-decoration: none;
}
img {
  border: 0;
}
/* ------------------------------variables---------------------------- */
.cf {
  *zoom: 1;
}
.cf:before,
.cf:after {
  display: table;
  content: "";
}
.cf:after {
  clear: both;
}
.btn:active {
  background-color: #479916;
  background-image: none;
  outline: 0;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.btn {
  display: inline-block;
  *display: inline;
  *zoom: 1 ;
  padding: 10px 30px;
  box-shadow: inset 0 1px 0 #78c54a;
  border: 1px solid #469f11;
  color: #fff;
  font-size: 18px;
  border-radius: 5px;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(136, 192, 101, 0.7);
  background-repeat: repeat-x;
  background-color: #4a9e17;
  background-image: -moz-linear-gradient(top, #53ae1b, #3d8711);
  background-image: -ms-linear-gradient(top, #53ae1b, #3d8711);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#53ae1b), to(#3d8711));
  background-image: -webkit-linear-gradient(top, #53ae1b, #3d8711);
  background-image: -o-linear-gradient(top, #53ae1b, #3d8711);
  background-image: linear-gradient(top, #53ae1b, #3d8711);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#53ae1b', endColorstr='#3d8711', GradientType=0);
  border-color: #3d8711 #3d8711 #1e4308;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #3d8711;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn:hover,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  background-color: #3d8711;
  *background-color: #33700e;
}
.btn:active,
.btn.active {
  background-color: #295a0b \9;
}
.btn:hover {
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -ms-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}
.btn-gray:active {
  background-color: #8b8b8b;
}
.btn-gray {
  box-shadow: inset 0 1px 0 #ababab;
  border: 1px solid #858585;
  background-color: #8b8b8b;
  text-shadow: 0 1px 1px rgba(170, 171, 171, 0.7);
  background-color: #8e8e8e;
  background-image: -moz-linear-gradient(top, #9b9b9b, #7a7a7a);
  background-image: -ms-linear-gradient(top, #9b9b9b, #7a7a7a);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#9b9b9b), to(#7a7a7a));
  background-image: -webkit-linear-gradient(top, #9b9b9b, #7a7a7a);
  background-image: -o-linear-gradient(top, #9b9b9b, #7a7a7a);
  background-image: linear-gradient(top, #9b9b9b, #7a7a7a);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9b9b9b', endColorstr='#7a7a7a', GradientType=0);
  border-color: #7a7a7a #7a7a7a #545454;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #7a7a7a;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-gray:hover,
.btn-gray:active,
.btn-gray.active,
.btn-gray.disabled,
.btn-gray[disabled] {
  background-color: #7a7a7a;
  *background-color: #6d6d6d;
}
.btn-gray:active,
.btn-gray.active {
  background-color: #616161 \9;
}
/*------------ dialog-ui --------------------*/
.modal-backdrop {
  position: fixed;
  _position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1040;
  background-color: #000000;
  opacity: 0.7;
  filter: alpha(opacity=70);
}
.modal {
  position: fixed;
  _position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1050;
  width: 385px;
  margin: -193px 0 0 -193px;
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid #ffffff;
  background-clip: padding-box;
  box-shadow: 2px 3px 12px 0px rgba(0, 0, 0, 0.2);
}
.modal-header {
  padding: 9px 15px;
  border-bottom: 1px solid #e3e3e3;
  background: #efefef;
}
.modal-header .close {
  margin-top: 2px;
  float: right;
}
.modal-header h3 {
  margin: 0;
  text-align: center;
  color: #454545;
  font: 24px/36px "\9ed1\4f53";
}
.modal-body {
  padding: 25px 38px;
  overflow-y: auto;
  background: #f6f6f6;
  box-shadow: inset 0 1px 0 #fafafa;
  text-align: center;
}
.modal-body p {
  color: #6e6e6e;
  line-height: 19px;
  font-size: 12px;
  margin: 0;
}
.modal-footer {
  padding-bottom: 20px;
  text-align: center;
  background-color: #f6f6f6;
}
.close {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  float: right;
  font-size: 20px;
  font-weight: bold;
  line-height: 18px;
  color: black;
  text-shadow: 0 1px 0 white;
  opacity: 0.2;
  text-decoration: none;
  filter: alpha(opacity=20);
}
.close:hover {
  color: black;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.4;
  filter: alpha(opacity=40);
}
/* ------------------------------dropdown---------------------------- */
.open-dropdown-toggle {
  *z-index: 1000;
}
.open-dropdown-toggle .dropdown-menu {
  display: block;
}
.open-dropdown-toggle .caret {
  -moz-transform-origin: 50% 25%;
  -moz-transform: rotate(180deg);
  -webkit-transform-origin: 50% 25%;
  -webkit-transform: rotate(180deg);
  -o-transform-origin: 50% 25%;
  -o-transform: rotate(180deg);
  -ms-transform-origin: 50% 25%;
  -ms-transform: rotate(180deg);
  transform-origin: 50% 25%;
  transform: rotate(180deg);
}
.caret {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 135px;
  padding: 4px 0;
  margin: 1px 0 0;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  background-clip: padding-box;
}
.dropdown-menu li {
  display: inline;
}
.dropdown-menu a {
  text-decoration: none;
  display: block;
  padding: 3px 15px;
  font-weight: normal;
  line-height: 18px;
  color: #333333;
  white-space: nowrap;
}
.dropdown-menu a:hover,
.dropdown-menu a.active {
  color: #ffffff;
  background-color: #0088cc;
}
.dropdown-menu a.active {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
/* ------------------------------accordion---------------------------- */
.accordion {
  width: 400px;
  margin: 10px auto 30px auto;
  text-align: left;
}
.accordion h3 {
  padding: 5px 20px;
  position: relative;
  z-index: 20;
  display: block;
  height: 30px;
  cursor: pointer;
  color: #777;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);
  line-height: 33px;
  font-size: 19px;
  background: #ffffff;
  background-color: #f7f7f7;
  background-image: -moz-linear-gradient(top, #ffffff, #eaeaea);
  background-image: -ms-linear-gradient(top, #ffffff, #eaeaea);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#eaeaea));
  background-image: -webkit-linear-gradient(top, #ffffff, #eaeaea);
  background-image: -o-linear-gradient(top, #ffffff, #eaeaea);
  background-image: linear-gradient(top, #ffffff, #eaeaea);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eaeaea', GradientType=0);
  box-shadow: 0px 0px 0px 1px rgba(155, 155, 155, 0.3), 1px 0px 0px 0px rgba(255, 255, 255, 0.9) inset, 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.accordion h3.active {
  background: #c6e1ec;
  color: #3d7489;
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.6);
  box-shadow: 0px 0px 0px 1px rgba(155, 155, 155, 0.3), 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.accordion .accordion-con {
  color: #777777;
  line-height: 23px;
  height: 0px;
  overflow: hidden;
  font-size: 14px;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);
  box-shadow: 0px 0px 0px 1px rgba(155, 155, 155, 0.3);
  -webkit-transition: height 0.3s ease;
  -moz-transition: height 0.3s ease;
  -ms-transition: height 0.3s ease;
  -o-transition: height 0.3s ease;
  transition: height 0.3s ease;
}
.accordion .accordion-con.open {
  height: 60px;
}
.accordion .accordion-con p {
  padding: 20px;
}
/* ------------------------------comment--------------------------- */
.comment {
  width: 740px;
  padding-top: 15px;
  border: 1px solid #E1E1E8;
  margin: 0 auto;
}
/*star-rank*/
.star-rank {
  background: url(http://resource.xiaomi.net/miuimarket/rank.gif) no-repeat;
  width: 105px;
  height: 16px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  overflow: hidden;
}
.star-rank.s0 {
  background-position: 0 0;
}
.star-rank.s1 {
  background-position: 0 -16px;
}
.star-rank.s2 {
  background-position: 0 -32px;
}
.star-rank.s3 {
  background-position: 0 -48px;
}
.star-rank.s4 {
  background-position: 0 -64px;
}
.star-rank.s5 {
  background-position: 0 -80px;
}
.rating {
  padding: 0 0 24px 0;
  border-bottom: 2px solid #e8e8e8;
}
.rating-cur {
  width: 260px;
  float: left;
  padding-right: 28px;
  border-right: 1px solid #e9e9e9;
}
.rating-cur-tit {
  padding-bottom: 12px;
  line-height: 17px;
  height: 17px;
}
.rating-cur-tit b,
.comment-ac b {
  padding: 0 11px 0 27px;
  vertical-align: middle;
}
.rating-cur-tit .star-rank,
.comment-ac .star-rank {
  vertical-align: middle;
}
.status-list {
  padding-left: 10px;
}
.status-list span {
  display: inline-block;
  height: 21px;
  vertical-align: middle;
}
.item-star {
  width: 82px;
  background: url(http://resource.xiaomi.net/miuimarket/app/star.png) no-repeat;
}
.status-list .star5 {
  background-position: 0 -2px;
}
.status-list .star4 {
  background-position: 0 -23px;
}
.status-list .star3 {
  background-position: 0 -43px;
}
.status-list .star2 {
  background-position: 0 -64px;
}
.status-list .star1 {
  background-position: 0 -85px;
}
.progress-bar {
  width: 126px;
  background: url(http://resource.xiaomi.net/miuimarket/app/star.png) -82px -2px no-repeat;
}
.bar {
  width: 126px;
  background: url(http://resource.xiaomi.net/miuimarket/app/star.png) -84px -23px no-repeat;
}
.stars {
  display: inline-block;
  *display: inline;
  *zoom: 1 ;
  padding-top: 2px;
  width: 120px;
  height: 20px;
  vertical-align: middle;
  overflow: hidden;
}
.stars a {
  display: inline-block;
  width: 22px;
  height: 16px;
  background: url(http://resource.xiaomi.net/miuimarket/rank.gif) 0 0px no-repeat;
}
.stars .hover {
  background: url(http://resource.xiaomi.net/miuimarket/rank.gif) 0 -48px no-repeat;
}
.comment-ac {
  float: left;
}
.comment-ac-wrap {
  padding: 12px 0 0 28px;
}
.comment-ac-wrap textarea {
  width: 392px;
  height: 54px;
  overflow: auto;
  display: inline-block;
  padding: 4px;
  margin-bottom: 9px;
  font-size: 13px;
  line-height: 18px;
  color: #555;
  border: 1px solid #CCC;
  border-radius: 3px;
}
.comment-ac-wrap a {
  color: #F80;
  line-height: 33px;
  color: #fff;
}
.comment-btn {
  text-align: right;
}
.comment .btn {
  padding: 0 15px;
}
.comment-list li {
  border-bottom: 1px solid #e8e8e8;
  overflow: hidden;
}
.comment-wrap {
  padding: 20px 12px 12px 40px;
  font-size: 12px;
  color: #999999;
}
.comment-wrap .star-rank,
.comment-wrap span {
  vertical-align: middle;
}
.comment-wrap span {
  margin-left: 11px;
}
.comment-wrap p {
  margin: 10px 0;
  color: #333333;
  line-height: 21px;
}
/* -----------------------table---------------------------- */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.table {
  width: 100%;
  margin: 12px 0 35px 0;
}
.table th,
.table td {
  padding: 8px;
  line-height: 18px;
  text-align: left;
  border: 1px solid #dddddd;
}
.table th {
  font-weight: bold;
  color: #7a7a7a;
  box-shadow: inset 0 0 2px 1px #fff;
}
.table td {
  background: #fff;
  height: 23px;
}
.table .table-r {
  text-align: right;
}
.table .caret {
  vertical-align: middle;
  border-color: #443131 transparent transparent transparent;
}
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: top;
  font-size: 0;
  line-height: 0;
  border-width: 4px;
  border-color: #ffffff transparent transparent transparent;
  border-style: solid dashed dashed dashed;
  content: "";
  opacity: 0.8;
  filter: alpha(opacity=80);
}
