

.btn-wrap, .dropdown-wrap{ display: inline-block; *display: inline; *zoom: 1; } 
.dropdown-wrap{ position: relative; }
.dropdown-wrap b{ vertical-align: middle; }
.modal-noremind{ margin-top: 16px; }
.modal-noremind label{ cursor: pointer; vertical-align: middle; }
.modal-noremind input{ vertical-align: middle; margin: 0 6px 0 0;}

/* ----------------------------pagination------------------------------ */
.pagination a,.pagination span{ display: inline-block; margin-right: 1px; font-size:14px; line-height:15px; padding:5px 9px; color: #5a5a5a;  }
.pagination .current{ font-weight:bold; color: #fff; background: #f2570e; }
.pagination a:hover{ background: #f7743d; color: #fff; text-decoration: none; }
.pagination .current.next,.pagination .current.prev{ background: none; color: #8D8D8D;}

