.accumulate .accumulate-dot{
  width: 12px;
  vertical-align: bottom;
  background-image: url(../img/slice/dot.png);
  background-repeat: no-repeat;
  height: 17px;
  margin-left: 12px;
}
.accumulate span{
  display: inline-block;
  width: 66px;
  height: 104px;
  font-size: 70px;
  font-family: "Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
  text-align: center;
  line-height: 104px;
  color: #fff;
  background-image: url(../img/slice/numbg.png);
  background-repeat: no-repeat;
  margin-right: 1px;
}
.tip-play{
  position: absolute;
  margin-left: -445px;
  left: 50%;
  bottom: 50px;
  width: 890px;
  height: 208px;
  background-image: url(../img/slice/tip1.png);
  background-repeat: no-repeat;
}