<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
<title>ECO-FE/query</title>
<style>
	#logo{
		background: url(http://s01.mifile.cn/i/mi-logo.png) #ff6700 center center no-repeat;
	}
</style>
</head>
<body>
<button type="button" id="stop">stop</button>
<button type="button" id="start">start</button>
<button type="button" id="pause">pause</button>
<div id="logo"></div>
<script src="./bundle.js"></script>
</body>
</html>