/**
 * 
 */

.carousel {
  position: relative;
  z-index: 100;
  overflow: hidden;
}

.carousel-wrap {
  white-space: nowrap;
  width: 100%;
  font-size: 0;
}

.carousel-control {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  list-style: none;
}

.carousel-control span {
  margin: 0 3px;
  text-decoration: none;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 100px;
  color: #fff;
  background: rgba(0, 0, 0, .75);
}

.carousel-control span.selected {
  background-color: rgba(169, 6, 6, 0.9);
}

.carousel-item {
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  background: #efeff0;
  background-size: 38px;
  padding-right: 6px;
  /*transition: transform .1s linear;*/
}

.carousel-item:last-child {
  padding: 0;
}

.carousel-item img {
  vertical-align: middle;
}
